*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background: black;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
}

li, a {
    text-decoration: none;
    list-style-type: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


// page layout


.page-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    margin: auto 0;
    max-width: 1250px;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 30px;
    padding: 0 30px;
}

// reusable

.btn {
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.btn-primary {
    background: rgb(18, 79, 126);
    color: white;
}

.btn-primary:hover {
    background-color: rgb(13, 58, 92)
}

// header

header > * {
    margin: 10px 0;
}

// projects

.projects-container {
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex: 1;
    gap: 15px;
}

.projects-container .project-card {
    background-color: white;
    color: black;
    padding: 15px;
    width: 33%;
}

.project-card > img {
    width: 100%;
}

.project-card .btn-container {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}